body {
  padding: 32px;
}

* {
  font-size: 18px;
}

.header {
  padding: 24px 0;
  border-bottom: 1px solid;
}

.flex-row {
  display: flex;
  gap: 24px;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
