body {
  padding: 32px;
}

* {
  font-size: 18px;
}

.header {
  padding: 24px 0;
  border-bottom: 1px solid;
}

.flex-row {
  display: flex;
  gap: 24px;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

hr {
  margin: 32px 0;
  border-top-color: plum;
}
